<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe6b8;</i>
                    <cite>系统设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('系统设置','{:url(\'system/index\')}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统设置</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('等级设置','{:url(\'system/level\')}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>等级设置</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="提现管理">&#xe6b8;</i>
                    <cite>提现管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('提现列表','{:url(\'tixian/index\')}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>提现列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="关注用户管理">&#xe6b8;</i>
                    <cite>关注用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('用户列表','{:url(\'user/index\')}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->